
<div class="page-wrapper">
  <!-- Header Component -->
  <app-header></app-header>

  <!-- Main content area -->
  <div class="landing-page-container">
  
      <!-- Hero Section -->
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="hero-title">Welcome to DocPatient</h1>
      <p class="hero-description">Your trusted platform for connecting with healthcare professionals.</p>
      <button mat-raised-button color="primary" (click)="onBookAppointmentClick()">Get Started</button>
    </div>
  </section>
  </div>



    <!-- Find by Speciality Section -->
     <!-- Speciality Section -->
     <section id="speciality" class="speciality-section">
      <h1 class="text-3xl font-medium">Find by Specialty</h1>
      <p class="sm:w-1/3 text-center text-sm">
        Simply browse through our extensive list of trusted doctors, schedule your appointment hassle-free.
      </p>
      <div class="speciality-list">
        <div class="speciality-item" *ngFor="let specialty of specialties">
          <a [routerLink]="specialty.link" class="speciality-card">
            <img class="speciality-icon" [src]="specialty.image" alt="{{ specialty.name }}">
            <p>{{ specialty.name }}</p>
          </a>
        </div>
      </div>
    </section>
  


  <!-- Footer component -->
  <app-footer></app-footer>
</div>


