:host {
    display: block;
    
    padding: 20px;
    border-radius: 5px;
  }
  
  .mat-elevation-z8 {

    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  h2 {
    margin: 20px;
    color: #343a40;
    font-size: 30px;
    font-weight: 600;
  }
  
  /* Table Header Styles */
  .mat-header-cell {
    font-weight: bold;
    color: white;
    background-color: #673ab7;
    padding: 16px !important;
    text-align: left;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 16px;
  }
  
  /* Table Cell Styles */
  .mat-cell {
    padding: 16px !important;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
  }
  
  /* Avatar Styles */
  .avatar-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .avatar {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  /* Default avatar (Initials) styling */
  .avatar {
    background-color: #ccc; /* Default background for avatar */
    font-size: 1.5rem;
  }
  
  /* Table Row Styles */
  .mat-row:hover {
    background-color: rgba(103, 58, 183, 0.04);
  }
  
  /* Action Icons Layout */
  .actions-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
  
  /* Action Icons Styling */
  .actions-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  /* Action Icon Hover Effect */
  .actions-container mat-icon:hover {
    transform: scale(1.1); /* Slight zoom effect when hovering over the icon */
    color: #673ab7; /* Change color on hover */
  }
  
  /* Table Column Specific Width Adjustments */
  .mat-column-serialNo {
    width: 50px;
  }
  
  .mat-column-name {
    width: 150px;
  }
  
  .mat-column-age {
    width: 80px;
  }
  
  .mat-column-bloodGroup {
    width: 100px;
    text-align: center;
  }
  
  .mat-column-city {
    width: 180px;
  }
  
  .mat-column-gender {
    width: 100px;
  }
  
  .mat-column-contact {
    width: 150px;
  }
  
  .mat-column-lastVisit{
    width: 100px;
  }

  .mat-column-totalAppointments{
    width: 100px;
  }
  /* Pagination Styles */
  .mat-paginator {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
  }
  
  /* Button Styles */
  .mat-raised-button {
    height: 45px;
    font-size: 16px;
    padding: 0 24px;
    margin: 10px 0;
  }
  
  /* Pagination Container */
  .table-container {
    position: relative;
    min-height: 200px;
    overflow: auto;
  }
  
  /* No Data Row */
  .no-data-row {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #666;
  }
  