<h2 mat-dialog-title class="dialog-title">Doctor Details</h2>
<mat-dialog-content class="doctor-details">
  <div class="avatar-container">
    <div *ngIf="data.doctor.profileImg; else defaultAvatar">
      <img [src]="data.doctor.profileImg.url" alt="Profile Picture" class="avatar" />
    </div>
    <ng-template #defaultAvatar>
      <div class="avatar">
        <span>{{ data.doctor.doctorName }}</span>
      </div>
    </ng-template>
  </div>
  
  <div class="detail-item">
    <strong>Name:</strong>
    <div class="detail-value">{{ data.doctor.firstName }} {{ data.doctor.lastName }}</div>
  </div>
  <div class="detail-item">
    <strong>Specialization:</strong>
    <div class="detail-value">{{ data.doctor.speciality }}</div>
  </div>
  <div class="detail-item">
    <strong>Contact Number:</strong>
    <div class="detail-value">{{ data.doctor.contactNumber }}</div>
  </div>
  <div class="detail-item">
    <strong>Fees:</strong>
    <div class="detail-value">{{ data.doctor.consultancyFees | currency:'INR':'symbol' }}</div>
  </div>
  <div class="detail-item">
    <strong>Experience:</strong>
    <div class="detail-value">{{ data.doctor.yearsOfExperience }} years</div>
  </div>
  <!-- <div class="detail-item">
    <strong>Reviews:</strong>
    <div class="detail-value">{{ data.doctor.reviews }}</div>
  </div> -->
  <div class="detail-item">
    <strong>Earnings:</strong>
    <div class="detail-value">{{ data.doctor.earnings | currency:'INR':'symbol' }}</div>
  </div>
  
  <div class="detail-item">
    <strong>About Doctor:</strong>
    <div class="detail-value">{{ data.doctor.about }}</div>
  </div>

  <div class="detail-item">
    <strong>Availability Days:</strong>
    <div class="detail-value">
      {{ parseAvailability(data.doctor.availability).availabilityDays }}
    </div>
  </div>

  <div class="detail-item">
    <strong>Time Slot:</strong>
    <div class="detail-value">
      {{ parseAvailability(data.doctor.availability).timeSlot.startTime }} - 
      {{ parseAvailability(data.doctor.availability).timeSlot.endTime }}
    </div>
  </div>

  <div class="detail-item">
    <strong>Rating:</strong>
    <div class="rating-stars">
      <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]" 
                [ngClass]="{'selected': star <= data.doctor.averageRating}">
        {{ star <= data.doctor.averageRating ? 'star' : 'star_border' }}
      </mat-icon>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>