body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
    
}

.card form .form-group {
    margin-bottom: 15px;
}

.card form .btn {
    width: 100%;
}

.card form .link {
    text-align: center;
    display: block;
    margin-top: 10px;
}

/* Style for the "Already Have an Account" and "Login here" links */
.form-text {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.form-text .black-text {
    color: black;
}

.form-text a {
    color: #4a90e2;
    text-decoration: none;
}

.form-text a:hover {
    text-decoration: underline;
}

.mat-form-field {
    width: 100%;
}